[2019-04-23 09:31] fredrikekre opened #1 "Enable CI"
Please enable CI for this repository, e.g. Travis/Appveyor.

[2019-04-23 11:52] chengchingwen commented on #1
Thanks for the issue. Could you give me some guide on how to enable the CI?

[2019-04-23 11:56] fredrikekre commented on #1
Most packages use Travis (tests on Linux and macOS) and AppVeyor (runs on Windows) but if this package does not use binary dependencies or other platform specific things I would say it is enough to use Travis. To enable Travis you:
1. Enable https://github.com/marketplace/travis-ci for this repository
2. Create a `.travis.yml` config file in the repository, see e.g. https://github.com/fredrikekre/

[2019-04-23 12:44] chengchingwen commented on #1
@fredrikekre Did I did it right? The result is at [here](https://travis-ci.com/chengchingwen/Transformers.jl). The osx got lots of weird log and terminate.

[2019-04-23 12:46] fredrikekre commented on #1
Yea, looks good! Don't you get those warnings when you run the tests locally?

[2019-04-23 12:51] chengchingwen commented on #1
No, I work on a linux machine which never showed the warnings. It looks pretty weird because the warnings are complaining about a method is overwritten by itself.

[2019-04-23 12:56] fredrikekre commented on #1
Strange. I can try later on macos locally.

[2019-05-09 16:06] chengchingwen commented on #1
@fredrikekre I fix the warning issue! that was due to macos use case-insensitive file system and the clone was failed (due to I have two files of same name with different cases). Just rename the file and all the CI passed. Tks!

[2019-05-09 16:06] #1 closed

[2019-05-10 23:38] mboedigh opened #3 "Thanks. Not really an issue, but a question."
I ran across this using the new [Julia Repository Search engine](https://juliaobserver.com/), but only after I built my own (on Julia Discourse and GitHub). I'm having some trouble getting mine to converge on anything but the "copy" task. Yours does converge on my "stutter" task, which is a derivative of copy, except with select tokens duplicated. I've been using your code and can't find anything

[2019-05-11 03:41] chengchingwen commented on #3
Hi, thanks for the interest. So there is a custom gradient because I implement the `gather` function. It’s just for convenience and solving some performance issue (though I haven’t benchmark it yet). There should be no difference between using `gather` or `getindex` in the result.

Btw, I will make a package announcement once I reach v0.1.0

[2019-06-17 23:22] mboedigh opened #4 "Is target masking aligned correctly for loss function"
In 1-model.jl loglkdivergence gets called with masking that does not mask out all padding tokens in the target sequence

for example, if I have a target sequence, t, with 2 for the start token, 3 for the end token and 1 for padding) and an predicted sequence p, along with target mask m
`t = 2 a b c 3 1 1`
`m = 1 1 1 1 1 0 0`
`p = a b c 3 a a a`

loglkdivergence gets called with t[2:end], m[1:end-1

[2019-06-18 15:06] #3 closed

[2019-06-24 17:18] chengchingwen commented on #4
Thanks for the issue! You are right, that was a mistake. The mask should go with `[2:end]` like the target does. However, this should not influence the result much since we never need the prediction after end token in the test time. Still, thanks for pointing this out, I would update the example later.

[2019-06-24 17:18] #4 closed

[2019-06-24 17:23] chengchingwen commented on #3
@mboedigh Hey, I will open a model-zoo repo for Transformers.jl. Would you like to add some examples like the stutter task or anything else you have tested?

[2019-06-24 23:07] mboedigh commented on #3
Sure. I don’t see the zoo yet, but let me know when it is there.

From: Peter <notifications@github.com>
Sent: Monday, June 24, 2019 10:24
To: chengchingwen/Transformers.jl <Transformers.jl@noreply.github.com>
Cc: Boedigheimer, Michael <mboedigh@amgen.com>; Mention <mention@noreply.github.com>
Subject: [External] Re: [chengchingwen/Transformers.jl] Thanks. Not really an issue, but a question. (#3)

[2019-10-19 07:17] rssdev10 opened #5 "bert_model.embed generates different vectors for same inputs"
Hello, I'm trying to use yours BERT implementation for strings vectorizing. But I found that
`bert_embedding = sample |> bert_model.embed` generates different vectors per each call. Is it wrong usage from my side?

I'm just trying to use it in the manner of this package - https://github.com/JuliaText/Embeddings.jl but with BERT's specific embedding.

[code]

[2019-10-19 11:21] chengchingwen commented on #5
hi, I guess the reason is that I set the dropout default to activate. Run `Flux.testmode!(bert_model)` to deactivate the dropout layer then it should always give the same embedding.

[2019-10-20 08:21] rssdev10 commented on #5
Thanks, `Flux.testmode!(bert_model)` is really working.

Do you have any thoughts about integrating of BERT embedding into Embeddings.jl ? Or, at least, adding of the mentioned above use case into the documentation/samples or into README.md?

[2019-10-20 13:12] chengchingwen commented on #5
Currently I don't have any idea on how they could fit together, but I think defining a similar API is possible.

[2019-11-30 22:15] chengchingwen commented on #5
With the new Flux AD backend (Zygote), the dropout is default inactive, so there is no need for `testmode!` anymore with the newest version.

[2019-11-30 22:15] #5 closed

[2020-06-25 09:51] janfrancu opened #8 "Type unstable functions"
Forward step of Transformer is type unstable. Running the example from the [docs](https://chengchingwen.github.io/Transformers.jl/dev/basic/)
[code]
and checking for `@code_warntype` produces:
[code]
The source of the unstabillity is probably the multihead attention, but I have not been able to distill it any further.
I am using latest tagged version 0.1.3 of Transformers on Julia 1.4.1.

[2020-07-03 17:03] chengchingwen commented on #8
I can reproduce this result on Julia 1.4.2 with the master branch. It looks like there are some problems with type inference for either Dropout/LayerNorm or broadcast operation. I will take some time to fix this.

Thanks for reporting it!

[2020-07-03 17:19] chengchingwen opened #10 "Redesign `AbstractHGFConfig` loading with JSON3.jl"
mentioned in #9.

[2020-07-21 07:50] zzj0402 opened #11 "Running pretrained bert model causes error"
[code]

[2020-07-24 09:26] chengchingwen commented on #11
Hi @zzj0402,

Looks like there are some error when downloading the model.
What version of HTTP and Transformers are you using?

[2020-07-29 23:59] zzj0402 opened #13 "Transformer not working with NeuralNetDiffEq"
I am trying to develop a transformer model for NeuralNetDiffEq.
Seems like there is a dependency issue:
https://stackoverflow.com/questions/59765831/julia-flux-issue-undefvarerror-tracker-not-defined
[code]

[2020-07-29 23:59] zzj0402 commented on #11
Not sure, just followed tutorial with a fresh install of Julia 1.4

[2020-07-30 17:33] freddycct commented on #11
I had this problem with v0.11, you have to use the latest v0.13

[2020-07-30 22:04] chengchingwen commented on #11
Ah, right. The downloading code in v0.1.1 is outdated due to some changes in HTTP.jl and google drive downloading behavior. v0.1.3 should be fine

[2020-07-30 22:07] chengchingwen commented on #13
We have switched from Tracker.jl to Zygote.jl in the latest version. You need to make sure NeuralNetDiffEq.jl is compatible with Zygote.jl and the latest version of Flux.

[2020-07-30 23:09] zzj0402 commented on #13
I am new to Julia. How to do that?

[2020-07-31 06:58] dboyliao commented on #13
My suggestion is that you switch to `pkg` mode (by pressing `]`) and then run `status` to see the exact packages you installed in your environment.
It looks like NeuralNetDiffEq.jl is using out-dated Flux api.

[2020-08-01 08:41] freddycct opened #14 "About choice of Tokenizers"
@chengchingwen What do we do about the Huggingface Bert Tokenizer? Is that in the plan?

[2020-08-14 14:10] chengchingwen commented on #14
it's on the roadmap, but won't be cover by the GSoC. I'm considering wrapping the rust implementation in [huggingface/tokenizer](https://github.com/huggingface/tokenizers) with BinaryBuilder.jl

[2020-08-14 15:37] bhalonen opened #16 "Julia version dependency?"
I'm having a hard time getting everything working on julia 1.5. Is there a julia version dependency?

[2020-08-14 15:46] bhalonen commented on #16
Or are you close to merging the gsoc2020 branch which seems to update to the CUDA.jl package. Kinda choking on the CuArrays.

[2020-08-18 23:11] chengchingwen commented on #16
Hi,

Looks like I forgot to add a julia version compat in Project.toml, but I'm also working on Julia v1.5. It should work with julia version higher than v1.3

Definitely. The GSoC 2020 ends this week, so it will be merge soon.

[2020-08-23 23:53] ChrisRackauckas commented on #16
The problem is due to https://github.com/chengchingwen/Transformers.jl/blob/master/Project.toml#L33-L37 bounding CUDA packages and Adapt < 2 not allowing any recent Flux version to be used with this package. I added a PR for CompatHelper so this library can get some maintenance help, but this should probably be brought into the same fold as the other ML core infrastructure so that this doesn't hap

[2020-08-23 23:53] ChrisRackauckas commented on #13
The problem is due to https://github.com/chengchingwen/Transformers.jl/blob/master/Project.toml#L33-L37 bounding CUDA packages and Adapt < 2 not allowing any recent Flux version to be used with this package. I added a PR for CompatHelper so this library can get some maintenance help, but this should probably be brought into the same fold as the other ML core infrastructure so that this doesn't hap

[2020-08-24 04:18] chengchingwen commented on #13
Ah, my bad. I will try to update it ASAP

[2020-08-24 04:26] chengchingwen commented on #16
The gsoc2020 branch is using the new CUDA.jl package and Adapt v2.0. I guess once the branch is merge, this problem will be fixed.

I'm not sure I get what you mean here. Could you elaborate more on this?

[2020-08-24 16:50] darsnack opened #26 "No need to reshape?"
It appears that to pass input to the `LayerNorm`, the tensor is reshaped into a 2D matrix (`feature_size x (sequence_length x batch_size)`, then reshaped back after all the norm layers are done operating? I think this happens in multiple places (i.e. the `@toNd` macro).

https://github.com/chengchingwen/Transformers.jl/blob/fbc8bb3582189d770778377a96994685d2c0b41c/src/basic/transformer.jl#L61

Bas

[2020-08-25 04:40] chengchingwen commented on #26
That's right, the `LayerNorm` doesn't need to reshape the input. However, `Flux.Dense` doesn't accept dimension higher than 2, those `reshape`s are not for `LayerNorm` but for `Dense`.

[2020-08-25 13:49] #26 closed

[2020-08-31 07:15] chengchingwen commented on #11
This should be fix with version higher then v0.1.3

[2020-08-31 07:15] #11 closed

[2020-08-31 07:16] chengchingwen commented on #16
Hi @bhalonen,

Could you try the latest version to see if anything works fine?

[2020-08-31 07:17] chengchingwen commented on #13
This problem should be fixed with the latest version.

[2020-08-31 07:17] #13 closed

[2020-09-01 23:21] zzj0402 opened #28 "Module Broken?"
(@JuliaPro_v1.5.0-1)
[code]

[2020-09-02 06:03] chengchingwen commented on #28
No, it's because we override and extend the behavior of `Flux.OneHotVector`. It shouldn't affect anything in most of the cases, but we'll fix this warning in the next release.

[2020-09-17 16:21] #28 closed

[2020-10-01 11:34] chengchingwen commented on #8
Should be fixed in the new release (v0.1.7)

[2020-10-01 11:34] #8 closed

[2020-10-22 15:55] junpei-n opened #33 "ckpt2json doesn't work well with */adam_m and */adam_v?"
The function ckpt2bson may not work well; it might set "/adam_m" or "/adam_v" to dense layers and others., because some tensorflow check point data of BERT include entities ending with "/adam_m" or "/adam_v".

Thus, I suggest that functions recognize and deal with "/adam_m" or "/adam_v".

### _Suggestions_

[code]

[code]

[2020-10-23 03:52] chengchingwen commented on #33
Yes, that's a potential problem of that `ckpt2bson` function. However, currently I don't plan to update it and probably will deprecate it in the future since TensorFlow.jl isn't maintained anymore. OTOH pytorch has a format which is easier to parse and huggingface/transformers also provide some functionality to convert a tensorflow checkpoint to pytorch format. Therefore, I will focus on handling

[2020-10-24 10:37] junpei-n commented on #33
Thank you for your quick response. I understand why you don't fix that function.If I need to use the function, I will try to make a PR.
Thanks.

[2020-10-24 10:37] #33 closed

[2020-11-03 13:09] gdkrmr opened #35 "Failing Test"
On current Julia master and Transformers master I have a failing test:

[code]

[code]

Not sure if these should be identical or if you can change the test from `==` to `≈`

[2020-11-03 13:16] gdkrmr opened #36 "Error in test"
On Julia master and Transformers master I get an error when running the tests:
[code]
I have tried updating Zygote.jl to latest master without success.

[2020-11-03 13:48] gdkrmr commented on #36
That is a Zygote issue: https://github.com/FluxML/Zygote.jl/issues/818

[2020-11-03 13:48] #36 closed

[2020-11-17 10:08] chengchingwen commented on #35
In theory they should be identical since `Positionwise` is just doing `reshape`, `Chain`, and then `reshape`, but I think some numerical error might be acceptable. If it 's the case, it should be ok to replace `==` with `≈`.

I haven't test anything on Julia master. Correct me if I'm wrong but IIRC Flux (or Zygote?) also failed on Julia 1.6+. We will wait until all of the dependencies work correct

[2021-02-16 20:22] freddycct commented on #14
This project needs more love from the community. Looks like progress is stalled? @chengchingwen

[2021-02-22 15:28] chengchingwen commented on #14
Yes. I'll love to see more people contributing to this project. Currently I'm quite busy (working and studying) and therefore
I can't spend too much effort on this project. I do have some unreleased code snippet for the tokenizer but most of them are not well tested. I would try to squeeze out some time to release them (probably 1-2 weeks later).

Some update/thought about tokenizers:
1. The rust

[2021-03-08 15:30] SeniorCtrlPlayer opened #48 "Why "AbstractEmbed" can be used in this file withoud definition or importing."
https://github.com/chengchingwen/Transformers.jl/blob/e7e7b74e2c1fd20656b603b644b8a8e1b99ef3ea/src/basic/embeds/embed.jl#L6

[2021-03-09 16:07] #48 closed

[2021-03-19 03:52] zsz00 opened #49 "Support gpu with julia v1.6"
Hope to support julia v1.6

[2021-03-21 04:12] heinrichreimer opened #50 "Incorrect method signature with Embed and CUDA"
I use this fantastic library for a small study in university.
Now, when I use a trainable embedding on the GPU, i get the following error:

[code]
I'm using Transformers 0.1.7 with Flux 0.11.1 on Julia 1.5.3.
It seems like the `∇gather` function does not work with `CuArray`s (it also says the function is for CPU):

https://github.com/chengchingwen/Transformers.jl/blob/e7e7b74e2c1fd20656b603b644b8a

[2021-03-21 11:39] chengchingwen commented on #50
It looks like your index array is not on GPU. All arrays need to be moved to GPU  with `CUDA.cu` before doing any computation.

[2021-03-21 20:46] heinrichreimer commented on #50
Thanks a lot! I had accidentially used the `onehot` function from Flux.jl. It was fixed after using the `onehot` implementation from Transformers.jl.
Still quite new to machine learning in Julia and the whole GPU stuff is a bit confusing to me :smile:

[2021-03-21 20:46] #50 closed

[2021-03-26 18:40] JuliaTagBot opened #54 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-03-26 18:40] #54 closed

[2021-03-26 18:59] ym-han commented on #16
I'm guessing that Chris means making the repo part of some Julia ML organization on github. @ChrisRackauckas , is that what you had in mind?

(I'm just chiming in here because getting this package running smoothly would advance my own selfish interests :P)

[2021-03-26 19:12] chengchingwen commented on #49
1.6 is supported with v0.1.8

[2021-03-26 19:16] chengchingwen commented on #16
Any issues?

[2021-03-26 19:25] chengchingwen commented on #35
fix with v0.1.8

[2021-03-26 19:25] #35 closed

[2021-03-26 21:11] ym-han commented on #16
Sorry I didn't mean to suggest I had issues with the package. Was just saying that it's in my own interests to have this package flourish, since I would like to be able to use Transformers in Julia.

[2021-03-27 10:58] AdarshKumar712 opened #55 "Dimension mismatch error when passing past_key_values in HuggingFace gpt2 (attention_mask size not matching)"
When I try to pass the precomputed past_key_values to HuggingFace gpt2 model, I am getting the following error:

[code]
I'm using Transformers 0.1.8 with Flux 0.11.6 on Julia 1.6.0
Minimal Code to replicate the above error:
[code]
I think it's because past key values are concatenated with present key values, making the shape [head\_features, 2*seq\_len, num\_heads, batch]. However, the attention\_

[2021-03-27 13:37] chengchingwen commented on #55
@AdarshKumar712  I made a patch to fix it. Try again with the master branch.

[2021-03-27 19:05] AdarshKumar712 commented on #55
It works fine, if I do it for one time, but if apply again with the updated past_key_values, then same error repeates.

Actually the code I am working on, requires to iterate multiple times the similar step.

Here is the Code to replicate:
[code]

[2021-03-27 19:40] chengchingwen commented on #55
My bad. The new master should fix it.

[2021-03-28 06:44] chengchingwen commented on #49
Right now the gpu part seems to failed, but cpu part should work fine

[2021-03-28 09:37] AdarshKumar712 commented on #55
Yes, now it works properly. Thanks a lot!

[2021-03-28 09:37] #55 closed

[2021-03-28 10:08] chengchingwen commented on #55
@AdarshKumar712 btw, Could you also made a simple PR for text generation example with gpt2?

[2021-03-28 12:53] AdarshKumar712 commented on #55
Sure. I will start working on the PR.

Just one thing, for the tokenizer, is it fine to use the bpe tokenizer, available with load_pretrain("GPT-OpenAIftlm", ...)?

[2021-04-01 22:47] chengchingwen commented on #49
Running `softmax` with CUDA v2.6.2 and NNlib v0.7.17 result in wrong values, but this is fixed on their master. We will need to halt gpu support until they tag new release.

[2021-05-20 06:24] lazarusA opened #62 "Update Compat"
Hi,
when installing Transformers the following main downgrades happens: (this is in Julia 1.6, it works but not with the latest versions)

Flux v0.12.3 ⇒ v0.12.1
CUDA v3.2.1 ⇒ v2.6.3
DataStructures v0.18.9 ⇒ v0.17.20
Flux v0.12.3 ⇒ v0.12.1

any change to increase compatibility with the latest releases ?

cheers!

[2021-05-22 14:12] chengchingwen commented on #49
Should be fix by v0.1.12

[2021-05-22 14:12] #49 closed

[2021-05-22 14:14] chengchingwen commented on #62
Should be solved with the new release

[2021-05-22 14:14] #62 closed

[2021-06-09 02:47] irhum opened #63 "Creating a new Stacks.jl library"
The Stacks structure introduced in this package (https://chengchingwen.github.io/Transformers.jl/dev/stacks/) is versatile enough that any multi-input multi-output model in the Julia ecosystem could potentially benefit. Opening this issue to suggest that it be split of into its own package.

[2021-06-09 05:21] irhum commented on #63
Running the project here: https://github.com/irhum/Stacks.jl

[2021-06-13 11:40] mashu opened #64 "Flux.onehot freezes when used with Vocabulary, or throws StackOverflow"
Here is the stack
[code]

[2021-06-13 11:50] chengchingwen commented on #64
MWE:

[code]

[2021-07-05 20:15] AdarshKumar712 opened #65 "MethodError: no method matching AbstractFloat(::Type{Any}) with HuggingFace.GPT2"
I was working with HuggingFace GPT2. I am trying to differentiate some loss on logits of GPT2 with respect to `past_key_values` pre-calculated. While the forward pass works correctly, I am getting the following error in backward pass:

[code]

I believe that this is something related to the `ShiftAttentionMask`.
Here is the MWE:
[code]
Please let me know, if I am doing something wrong in this code

[2021-07-07 16:12] #64 closed

[2021-07-07 16:24] chengchingwen commented on #65
Should be fixed with the new release (v0.1.13). Let me know if the problem remains.

[2021-07-07 16:24] #65 closed

[2021-07-19 12:08] lazarusA opened #66 "Update docs and examples for onehot/vocabulary with Int input"
I'm testing some code from the docs. In this case the copy task.

https://chengchingwen.github.io/Transformers.jl/dev/tutorial/#define-the-loss-and-training-loop

I notice that things go wrong in the loss function definition. Due to the onehot method.

By running that code one gets this error.
[code]

this the env that I'm using.
[code]

any quick work around this issue?

[2021-07-19 12:39] lazarusA opened #67 "parse args fails"
Also, this line not longer works.

https://github.com/chengchingwen/Transformers.jl/blob/5478c020dffcb06f9eebf79859a79937a91c30da/example/AttentionIsAllYouNeed/0-data.jl#L23

with the following env
[code]

[2021-07-19 13:03] chengchingwen commented on #66
The quickest fix would be replace `label = onehot(vocab, y)` with `label = Basic.OneHotArray(length(vocab), y)`. It's because we are using a rare example where the input sequence is of type `Int` in the tutorial. If you are going to modified the example to do some real task, than use the original one (`onehot(vocab, y)`)

[2021-07-19 13:13] chengchingwen commented on #67
What do you mean? It works fine for me.

[2021-07-19 13:14] chengchingwen commented on #66
And this happen because some API change in Transformers v0.1.13. I should update the docs/example

[2021-07-19 13:37] lazarusA commented on #67
if do:

[code]
then this errors:
[code]
this is the output from ArgParseSettings(), if that helps.

[code]

[2021-07-19 13:42] chengchingwen commented on #67
You need to run the code with the task argument. For example: `$ julia --proj -i 1-model.jl copy`

[2021-07-19 14:21] lazarusA commented on #66
ok. This fixes the issue here. Thanks.

[2021-07-19 14:38] lazarusA commented on #67
and here, yes of course, now I see it. However, using things like this just works with a final product [which is what you have here], however for debugging I find it a little bit cumbersome. For instance, here I also got the onehot error in this line

https://github.com/chengchingwen/Transformers.jl/blob/5478c020dffcb06f9eebf79859a79937a91c30da/example/AttentionIsAllYouNeed/1-model.jl#L53

Another

[2021-07-19 14:38] #67 closed

[2021-07-19 15:17] Oblynx commented on #16
Chris probably means making this part of the [FluxML](https://github.com/orgs/FluxML) or [JuliaML](https://github.com/JuliaML) organization. Both have a lot of Julia core contributors as members. FluxML is probably more relevant, since you build on top of it, while JuliaML has more general purpose packages.

[2021-07-19 15:21] Oblynx commented on #16
@chengchingwen if you're interested, why don't you drop a message in the [ml-ecosystem-coordination zulip stream](https://julialang.zulipchat.com/#narrow/stream/237432-ml-ecosystem-coordination)?

[2021-07-19 15:22] Oblynx commented on #67
Hi, I had exactly the same issue just now :) I'll add a README if that's ok!

[2021-07-19 23:44] chengchingwen commented on #67
the 2 `train!` function are used for different task depend on the task you choose.

There is a `translate` function you could use to play with your model. The code is only meant to be run in the REPL to do some simple test, but you should be able to easily modified it for your own task if you are familiar with Flux

[2021-07-20 06:16] Oblynx opened #69 "More Transformer architectures"
Hi! We're implementing some transformer architectures like [Gated Transformer Networks for Multivariate Time Series Classification](https://arxiv.org/abs/2103.14438). Are you interested in pulling more examples like this?

[2021-07-20 07:20] lazarusA commented on #69
@Oblynx
Oh, nice. I was just about to start doing something similar  from scratch. Do you have something already that works. A MWE (repo) will be great to have and take a look at .

[2021-07-20 07:40] Oblynx commented on #69
We just started but will have news within the week.

On Tue, Jul 20, 2021, 09:20 Lázaro Alonso ***@***.***> wrote:

[2021-07-20 09:17] chengchingwen commented on #69
@Oblynx Sure! That will be nice.

[2021-07-23 16:22] ViralBShah opened #70 "Transfer to the FluxML org?"
Hi @chengchingwen - I am wondering if we should transfer this package to the FluxML (and also give you admin permissions to the org).

[2021-07-23 17:49] chengchingwen commented on #70
Hi @ViralBShah,

I'm fine with this idea in general, but I'm not sure it's a good timing to do it. I still need to revisit/rewrite some (probably most) part of this package.

[2021-07-23 17:57] ViralBShah commented on #70
We can certainly do it whenever you think the time is right.

[2021-08-02 11:47] drdozer opened #72 "how to use the IWSLT2016 dataset"
Hi - I want to play around with some language translation tasks and saw that you've got `Transformers.Datasets.IWSLT.IWSLT2016`. How do I interact with this to get data that I can train a model on? I couldn't find anything in the documentation to help me out.

[2021-08-03 02:15] chengchingwen commented on #72
You can find some simple usages in the [toy example](https://github.com/chengchingwen/Transformers.jl/tree/master/example/AttentionIsAllYouNeed).

Basically,

[code]

[2021-08-04 17:44] austinbean opened #73 "Segfault in embedding function"
I'm following the example from the docs [here](https://chengchingwen.github.io/Transformers.jl/dev/tutorial/#Transformers.jl), but I almost always get a segfault when I try to evaluate the `embedding` function.   The dimension of the embedding seems to make the problem worse (ex: if I set `value` below to 512, it always segfaults.  When it's 256, maybe 85% of the time.)  This is on Julia 1.6.2.  I

[2021-08-04 19:49] chengchingwen commented on #73
It's  because `v = [8739 2008]` is exceeding the the vocabulary size, which is 100 in `embed = Embed(value, 100)`.

[2021-08-04 20:29] austinbean commented on #73
Thanks...

That looks like it solved the problem.  I had it set to the size of the vocab in my problem, not the size of the vocab in the model I was loading.

[2021-08-04 20:29] #73 closed

[2021-08-16 11:27] gerhardJaeger opened #75 "Basic.onehot"
I try to run the tutorial, but something seems to be wrong with the onehot function call inside the definition of loss. Error message is below.

Help is appreciated. Thanks, Gerhard

[ Info: start training
ERROR: LoadError: MethodError: no method matching OneHotArray(::Transformers.Basic.OneHot{0x0000000d})
Closest candidates are:
  OneHotArray(::Any, ::Transformers.Basic.OneHot) at /home/gjaeger/

[2021-08-18 14:46] chengchingwen commented on #75
This is same as #66. The quickest fix would be replace `label = onehot(vocab, y)` with `label = Basic.OneHotArray(length(vocab), y)`. This is due to some api change for vocab and onehot.

**notice**: This fix is only need and will only work for this example. It's because the this tutorial use `Int` as vocabulary. If you are working with some real data (i.e. `String` vocabulary), you won't need thi

[2021-08-18 15:20] gerhardJaeger commented on #75
This works, thanks a lot!

[2021-09-19 02:28] rcherukuri12 opened #76 "ERROR : downloading on m1 1.7 beta 3"
I keep getting this error:
[ Info: loading pretrain bert model: scibert_basevocab_uncased.tfbson
ERROR: type DataType has no field mutable

no matter what model type I pick.

[2021-09-24 23:15] rcherukuri12 commented on #76
Any info on this problem ?

[2021-09-27 04:00] chengchingwen commented on #76
Probably because currently we don't support 1.7 but I haven't test it yet.

[2021-10-06 21:10] JadeOfNameless opened #77 "Tutorial throws a dimensionMismatch error on grad = gradient(()->loss(x, y), ps)"
I copy pasted the tutorial into VScode and have been trying to run it for the past few days, to no avail.

all that happens is that it runs slowly for ages and then crashes with the following error:

`ERROR: LoadError: DimensionMismatch("arrays could not be broadcast to a common size; got a dimension with lengths 0 and 11")
Stacktrace:
  [1] _bcs1
    @ .\broadcast.jl:501 [inlined]
  [2] _bcs(shap

[2021-10-11 18:33] storopoli opened #78 "Support for HuggingFace bert-base-portuguese-cased"
Is it possible to support the [`neuralmind/bert-base-portuguese-cased`](https://huggingface.co/neuralmind/bert-base-portuguese-cased)? We are doing lots of portuguese NLP and this custom BERT model has better performance in our portuguese NLP problems.

Cc'ing a collaborator @RosalRicardo

[2021-11-02 00:25] JadeOfNameless commented on #77
is anyone out there?

[2021-11-09 13:10] JadeOfNameless commented on #77
I don't want to be rude, but at this point I'm worried that rolling my own transformer library might literally be more time effective than waiting for a response here.

what can I do to get help?

[2021-11-10 13:14] chengchingwen commented on #77
Sorry about that, I was quite busy and missing the notification. Basically it is because the tutorial is out-of-date and won't work anymore. I will update it this weekend.

[2021-11-13 14:45] #77 closed

[2021-11-13 14:45] #75 closed

[2021-11-13 14:46] #66 closed

[2021-11-14 20:07] JadeOfNameless commented on #77
oh thanks!
sorry if I was rude

[2021-12-01 09:32] chengchingwen commented on #76
You would need to update to BSON v0.3.4 for working with Julia v1.7
https://github.com/JuliaIO/BSON.jl/pull/99

[2021-12-01 09:32] #76 closed

[2021-12-19 03:24] ToucheSir opened #79 "Feature Request: Memory-Efficient Attention"
From https://arxiv.org/abs/2112.05682v2. I have no immediate use for this, but it looks cool and I didn't want it to go unmentioned in case some aspiring contributor to Transformers.jl is looking for a project :)

[2021-12-19 05:11] ToucheSir commented on #79
Upon finding [NeuralAttentionlib](https://github.com/chengchingwen/NeuralAttentionlib.jl), perhaps this would be better discussed there? Feel free to move the issue :)

[2021-12-20 03:23] chengchingwen commented on #79
I'll keep the issue here for now because we get more attention here (pun intended)

[2022-02-10 16:56] chengchingwen opened #83 "Some plan"
Here are some stuff I'm going to rewrite for the new release:

- [x] Tokenizer: Define the tokenizer with [TextEncodeBase.jl](https://github.com/chengchingwen/TextEncodeBase.jl) and replace the old `Basic.Vocabulary` with `TextEncodeBase.Vocab`.
- [X] Layers: Rewrite the attention layer with [NeuralAttentionlib.jl](https://github.com/chengchingwen/NeuralAttentionlib.jl)
- [X] Huggingface: Use [Hug

[2022-02-13 09:47] maj0e commented on #72
Above example fails with following error message:

[code]

Looking at the website of [IWSLT](https://wit3.fbk.eu/2016-01), it seems that the datasets moved to Google Drive instead.

[2022-02-14 14:16] chengchingwen commented on #72
Looks like they no longer provide file links for specific translation pair, the datadep would need to rewrite base on that

[2022-02-14 16:58] maj0e commented on #72
I thought I could fix this quickly by changing the download link and adapt the post_fetch_method to search for the translation pairs in the right subfolder, but it seems like DataDeps.jl doesn't support downloading from GoogleDrive (or maybe I did something wrong).
From a quick glance at DataDeps.jl, I found a [issue](https://github.com/oxinabox/DataDeps.jl/issues/136) discussing this topic.

[2022-02-14 17:09] chengchingwen opened #85 "IWSLT2016 link outdated"
mentioned in #72.

The link we used for IWSLT2016 is outdated. We should use the [new one](https://wit3.fbk.eu/2016-01). However, the dataset of each language pair used to be separate link and now the new one compress all language pairs into one tarball. Thus the DataDep would need to be rewritten.

[2022-02-14 17:09] chengchingwen commented on #72
@maj0e move issue to #85

[2022-02-14 17:11] chengchingwen commented on #85
@maj0e The google drive part can be downloaded by `Fetch.gdownload` just like how we did in [`GoogleWMT`](https://github.com/chengchingwen/Transformers.jl/blob/a93d3899b89b73b73daf334768f969cc52b50ff3/src/datasets/translate/google_wmt.jl#L17)

[2022-02-21 11:18] #85 closed

[2022-03-06 20:11] stefanjwojcik opened #87 "Download fails with pretrain macro on Linux"
Thank you for this awesome package, I'm excited to use it. I can't figure out why I'm unable to download any pretrained models. I'm running the following very basic example on Pop! OS 21.XXX.
[code]

I keep getting an error related to 'gcode', but I can't figure out what's going on - it seems like it's looking for a cookie and can't find it.
Error is this:

[code]

[2022-03-06 22:58] chengchingwen commented on #87
Which version of Transformers.jl are you using? The `gcode` was some protocol relative stuff we need when downloading data from google drive, but that has changed recently. With the new Transformers.jl v0.1.15 (which use Fetch.jl v0.1.3 for downloading) that problem should be fixed.

[2022-03-07 19:17] stefanjwojcik commented on #87
Thank you for your reply. I used the package manager to install on Julia 1.5, so I will update my Julia version and try out the latest version of Transformers. I'll let you know if it doesn't work.

[2022-03-07 19:17] #87 closed

[2022-03-09 07:04] SeanLee97 commented on #14
I implemented the word-piece tokenizer using native Julia, named [BertWordPieceTokenizer](https://github.com/SeanLee97/BertWordPieceTokenizer.jl), and I've registered it to the JuliaHub.

Currently, it works to load the word-piece tokenizers, e.g. BERT, RoBERTa but fails for sentencepiece tokenizers such as ALBERT.

[2022-03-09 08:32] chengchingwen commented on #14
@SeanLee97 Actually, we already have word piece tokenizer in Transformers.jl. See [here](https://github.com/chengchingwen/Transformers.jl/blob/master/src/bert/tokenizer.jl) and [here](https://github.com/chengchingwen/Transformers.jl/blob/master/src/bert/wordpiece.jl)

[2022-05-23 09:12] robertfeldt opened #90 "Problem precompiling v0.1.14 on Julia 1.7.2"
I can add without problems:

[code]

but then there is an ArgumentError on precompile:

[code]

This is on a MacBook so there is no CUDA. Maybe it doesn't make sense to use Transformers on this machine? Any input/advice welcome.

[code]

[2022-05-24 02:46] chengchingwen commented on #83
The new tokenizer api (using TextEncodeBase) is basically finished and included in the 0.1.16 release, though the gpt part is ignored for now. For the next step, I will be fixing the huggingface download issue with HuggingFaceApi.jl. Rewriting the attention layer might be breaking, so that would probably be the last one to do.

Some other issue that might also need to be tracked:

- [ ] update gpt

[2022-05-24 06:06] robertfeldt commented on #90
Thanks, things seem to work well after I installed `Transformers#master` instead. Thanks for the great package.

[2022-05-24 06:06] #90 closed

[2022-05-24 06:27] robertfeldt opened #91 "scibert models missing loading_method?"
I can load all the bert models but none of the scibert ones:

[code]

Seems there is no `loading_method` for :scibert.

[2022-05-24 06:44] chengchingwen commented on #91
It is written on the docstring for `@pretrain_str`, but I agree that might be a little misleading.

[2022-06-03 14:40] Alexander-Barth opened #92 "possible issues in PositionEmbedding ?"
Thank you very much for making your work available as a Julia package!
It helps me a lot to learn about Transformers (a topic which I don't know much...)
I was comparing:

https://github.com/chengchingwen/Transformers.jl/blob/7a7a25a3e29977678943b71aba0891ea934dcd62/src/basic/embeds/position_embed.jl#L19-L25

to
https://machinelearningmastery.com/a-gentle-introduction-to-positional-encoding-in-tra

[2022-06-03 18:21] chengchingwen commented on #92
Generally it doesn't matter that much. That function is just to create periodic function as the basis. So as long as those bases have similar attributes, the training behavior would be similar.

OTOH, it is an issue if we want the implementation to be exactly the same as the original paper. The index shift means we are actually using a complete different set of bases for the position encoding. We

[2022-06-05 22:03] #92 closed

[2022-06-21 15:39] dcecchini commented on #78
I also wish to have the portuguese models available in Julia. Is there any plan to add those? Or a tutorial where we can transform them by ourselves?

I tried to use the [Transformers.BidirectionalEncoder.tfckpt2bson](https://chengchingwen.github.io/Transformers.jl/dev/bert/#Transformers.BidirectionalEncoder.tfckpt2bson) but it needs `TensorFlow.jl` installed, a package that is not maintained anym

[2022-06-21 19:18] chengchingwen commented on #78
Yes, that's on the plan (#83). I'm currently working on fixing the hugginface part so that would be supported in near future. Also the `tfckpt2bson` would eventually be removed.

[2022-07-04 15:35] jackn11 opened #98 "Transformer tutorial is outdated"
I get a ERROR: syntax: invalid syntax "preprocess.(sample_data()) = ..." on the last line when I run the code below. The code is from the tutorial on this page https://chengchingwen.github.io/Transformers.jl/dev/tutorial/#Transformers.jl.

[code]

[2022-07-04 15:58] MNLubov commented on #83
@chengchingwen
Peter, what is the approximate timeframe for implementing the model transfer from Huggingface?

[2022-07-04 16:18] chengchingwen commented on #83
@MNLubov Are you looking  for a specific model from HuggingFace? I'm trying to fix the huggingface module this month, so if everything goes well, it would be workable again before August.

Just to clarify, even if that huggingface module is fixed, it's still possible that we don't have the implementation for that model type (by *model type*, I mean something like `bert`, `gpt2`, `t5` etc). So if y

[2022-07-04 16:49] jackn11 commented on #98
Thank you for letting me know. It would definitely be useful to have a working tutorial on the docs and until then remove the outdated documentation or at least have some sort of notice.

[2022-07-04 16:57] MNLubov commented on #83
@chengchingwen Thanks for the clarification. Currently I am testing different sentence-transformers from Huggingface to find the most suitable for my purposes. As a temporary solution, I use PyCall to find the most suitable one.
As far as I understand you have now `bert`, `gpt` and `roberta` implementations.

[2022-07-04 17:42] jackn11 opened #99 "BERT example not working"
I tried running the BERT example found here https://github.com/chengchingwen/Transformers.jl/blob/master/example/BERT/_pretrain/pretrain.jl but I got the following error on the train!() line at the bottom of the code.

[code]

[2022-07-04 18:30] chengchingwen commented on #83
@MNLubov Yes. I haven't investigate the sentence-transformers implementation, but it seem that it can also be done with normal huggingface interface. Like this one https://huggingface.co/sentence-transformers/all-MiniLM-L12-v2, it's a `bert` model, so it should be workable following the huggingface transformer usage in the readme after we fix the module.

[2022-07-04 18:37] chengchingwen commented on #99
Out of curiosity, you want to pre-train your own Bert model?

[2022-07-04 18:51] jackn11 commented on #99
No, I simply want to fine tune an existing Bert model for use in categorization task. I would appreciate guidance in how to do that as I have not been able to figure it out with this package.

[2022-07-04 18:59] chengchingwen commented on #99
Should mostly look like this one https://github.com/chengchingwen/Transformers.jl/blob/master/example/BERT/cola/train.jl

[2022-07-04 19:01] chengchingwen commented on #99
Or you want to do token level classification?

[2022-07-04 19:15] jackn11 commented on #99
Thank you, I will take a look at that link! My current project is classifying sentences into a few given categories. I am not quite sure what you mean by token level classifications? If you mean classifying parts of sentences as tokens, for example finding nouns, verbs, etc., then I am not trying to implement token level classification.

[2022-07-04 19:27] jackn11 opened #100 "Bert Cola Example Missing Import"
In the example at the link below, line 36 yields the error that ```todevice``` is not defined. This is because there is no general import which includes that method such as ```using Transformers``` which includes that method in the file. This could easily be fixed by including  ```using Transformers``` at the top of the file.

https://github.com/chengchingwen/Transformers.jl/blob/master/example/BE

[2022-07-04 19:38] chengchingwen commented on #99
Yes, that's what I means.

Then you can just follow the link. CoLA is also a sentence classification dataset.

[2022-07-04 19:42] chengchingwen commented on #100
Because it's not the top-level entry. Please refer to the [instructions in the readme](https://github.com/chengchingwen/Transformers.jl/tree/master/example/BERT)

[2022-07-04 19:42] #100 closed

[2022-07-05 15:58] chengchingwen commented on #99
@jackn11 Holy! That is a bug for downloading the datasets. I was using the local files all the time so didn't notice it.

For a quick workaround:

1. Download the dataset from https://dl.fbaipublicfiles.com/glue/data/CoLA.zip
2. Unzip the CoLA.zip
3. Move the directory to `~/.julia/datadeps/`
4. Renamed the directory as `GLUE-CoLA` (so the full path is `~/.julia/datadeps/GLUE-CoLA/`

[2022-07-05 15:59] jackn11 commented on #99
Thank you for letting me know! Will do.

Also, comments in the example code would be a huge plus to make it easier to understand.

[2022-07-05 20:34] jackn11 opened #101 "Transformers.jl Package Installation Broken!"
I have tried several times deleting the transformers package in /packages, making a new virtual environment (```activate newenv```), adding CUDA and Transformers, but every time when I run using transformers, I get the following output.

[code]

[2022-07-05 20:53] jackn11 commented on #101
@chengchingwen the issue may be with this commit here: https://github.com/chengchingwen/Transformers.jl/commit/b1b1f9f54cbaa9a3e38318962ecaf0a2439f7db1#diff-09a5eabfb1fc24cdcb25cfa836f64c5387fb27458249ae1a2e48b9ace4a66ab4

[2022-07-05 20:56] jackn11 commented on #101
Or perhaps that is the solution but it is not yet merged to main?

[2022-07-05 21:26] jackn11 commented on #101
Note, I tested that commit and it allowed me to run ```using transformers``` but then broke while training the bert model

[2022-07-05 22:29] jackn11 commented on #101
I made a comment on your commit at the following link which yields the solution to the issue that should be implemented. Changes should be made on lines 43 and 46 of extend3d.jl. Please see https://github.com/chengchingwen/Transformers.jl/commit/b1b1f9f54cbaa9a3e38318962ecaf0a2439f7db1

[2022-07-06 03:45] chengchingwen commented on #101
You can also downgrade Flux to v0.13.3, the error is introduced by Flux v0.13.4.

[2022-07-06 13:54] chengchingwen commented on #101
Fixed in 0.1.18

[2022-07-06 13:54] #101 closed

[2022-07-08 05:37] jackn11 opened #102 "BERT CoLA Example Question"
I am trying to train several BERT classifier models in one program but i am running out of GPU RAM by loading too many BERT models with ```const _bert_model, wordpiece, tokenizer = pretrain"Bert-uncased_L-12_H-768_A-12"```

I am following the CoLA exmaple found here https://github.com/chengchingwen/Transformers.jl/blob/master/example/BERT/cola/train.jl

I am wondering if the train!() function foun

[2022-07-18 12:40] MNLubov opened #105 "Downloading of sentence transformers"
Basic downloading doesn't work for sentence-transformers. Is it possible to download model using direct url or url for config.json?

[2022-07-19 10:58] MNLubov commented on #105
I tested hgf"model_name:model_type" approach described in README.
I tried another approach
[code]
Which allows to register config file. Then
[code]
Which gives me following error: ```Model Val{:model_task}() doesn't support this kind of task: Val{:model_task}()```
As far as I understand there is no model types for sentence transformers

[2022-07-31 13:11] Broever101 opened #106 "SystemError: Permission Denied (hgf)"
`bert_model = hgf"bert-base-cased:forsequenceclassification";`

[code]

Any pointers?

Pkg status

[code]

[2022-07-31 17:50] chengchingwen commented on #106
Please try Transformers v0.1.19

[2022-07-31 18:04] chengchingwen commented on #105
It is now merged and released in v0.1.19, please give it a try.

Let me know if there are any problems, feature requests, or any inconvenience when using that.

[2022-07-31 21:35] Broever101 commented on #106
Thanks. That fixed it. I was following your [blog](https://nextjournal.com/chengchingwen/gsoc-2020-blog2-summary-of-the-summer-huggingface-transformers-with-julia) here, it had the master branch. If you can edit that, that'll be great; if not, no worries people will find this issue.

[2022-07-31 21:35] #106 closed

[2022-08-03 05:33] Broever101 opened #107 "MbedTLS error code -76: NET - Reading information from the socket failed"
Using `Transformers v0.1.19`. The `pretrain` macro throws this error in  `Pretrain.jl`. Specifically line 59. Datadeps failing. Any idea?

[2022-08-03 13:26] chengchingwen commented on #107
What code are you running and what is the full stack trace? I cannot reproduce this on my side.

[2022-08-03 14:50] Broever101 commented on #107
I'm running this cola example (copy pasted to file I'm working on)
https://github.com/chengchingwen/Transformers.jl/blob/master/example/BERT/cola/train.jl

It errors on line 26. It gets stuck for a while after asking for download permission and then it errors out. I've tried using other models and same error on each. The links are valid.

Pkg.status output:
[code]

Full stack trace:
[code]

[2022-08-03 15:10] chengchingwen commented on #107
Unfortunately I have no idea on the issue. A quick workaround for that would be creating a folder `~/.julia/datadeps/BERT-uncased_L-24_H-1024_A-16/` and manually download the file and put it in that folder.

[2022-08-03 16:01] Broever101 commented on #107
That worked. Thanks. Surprisingly, downloading the dataset goes fine. Do you figure it's a DataDeps issue specifically?

[2022-08-03 16:19] chengchingwen commented on #107
It's probably due to downloading from google drive, but it works fine on my linux machine.

[2022-08-03 16:24] chengchingwen commented on #107
In the long run I would switch the source to the huggingface one, so we don't need to self host them from google drive. But that is still under development.

[2022-08-03 16:32] Broever101 commented on #107
Let me know if you need any help with that. I like this package a lot; it's probably one of the few ML packages that actually work and are up-to-date.

I go by "Muhammad Rassam" on the Zulip Julia channel and Thall#3528 on discord.

[2022-08-05 14:02] #107 closed

[2022-08-05 14:23] Broever101 opened #108 "Evaluation into the closed module `Transformers` breaks incremental compilation (enable_gpu)"
[code]

On the REPL:

 using Outer
[code]

The culprit is the `@eval` inside `Transformers.jl`

[code]

[2022-08-05 16:02] chengchingwen commented on #108
`enable_gpu` should not be used in precompilation. You can either put that in the beginning of your script or put that in `__init__()` of your module.

[2022-08-05 17:40] Broever101 commented on #99
Did you ever resolve this issue? I'm having the same. Using the training example Peter linked

[2022-08-05 17:41] Broever101 commented on #108
Putting it in init worked. Also, is there any inference example for pre-trained BERT?

[2022-08-05 18:34] chengchingwen commented on #108
Currently no. What do you want to do? we can try to add that to the example.

Here is a simple example for using the NER model from huggingface (with Transformers.jl v0.1.20 and Julia v1.7).
[code]

[2022-08-05 18:43] chengchingwen commented on #99
The main issue for the pretrain example is that the code is really really old and I haven't find time to update that. But I didn't make it a high priority because people seldom need/want to do pretrain themselves

[2022-08-05 19:15] jackn11 commented on #99
If i recall correctly, I was able to get the CoLA example working, but it took me going through the code line by line, one piece at a time to figure out where the errors were coming from. I may have some time in the coming days to update the example @chengchingwen. Would that be helpful?

[2022-08-05 20:05] Broever101 commented on #108
I want to sentiment analysis. I've got the classifier code running (like on that cola dataset) without the gpu. I want something like

[code]

[2022-08-05 20:08] Broever101 commented on #99
Yea pretrain is old but I'm having the issue with the fine-tune example
https://github.com/chengchingwen/Transformers.jl/tree/master/example/BERT

Fine-tuning is a bit more common than pre-training. The dataset API is pretty gucci but it needs some comments. Maybe I'll contribute. Got the 1.8M tweet dataset working with your training script in a few lines. But again, getting the thing running on g

[2022-08-06 11:17] chengchingwen commented on #99
Feel free to open issues/PRs! Sometimes it's hard to make stuff clear from my side because I wrote those code and they all look straightforward to me. Let me know if you need help or explanations.

[2022-08-06 11:20] chengchingwen commented on #108
Unfortunately right now we don't have an inference api. Let's track that in another issue.

[2022-08-06 11:20] #108 closed

[2022-08-06 11:35] chengchingwen opened #109 "Inference API"
mentioned in #108. Currently we don't have an inference api, like the `pipeline` from huggingface transformers. Right now you need to manually load the model/tokenizer, apply them on the input data, and convert the prediction result to correct/corresponding labels.

[2022-08-06 14:50] Broever101 commented on #109
What's the way to save and load a model currently? I'm saving it like so

[code]

And loading it using `load_pretrain_bert(bsonname)` but it throws `ERROR: UndefVarError: Transformers not defined` while loading the tokenizer. Moreover, Flux docs suggest you should do `cpu(model)` before saving it -- do you think that breaks anything?

[2022-08-06 15:21] chengchingwen commented on #109
Simply `BSON.@save` and `BSON.@load`. I guess the error is probably because you forget to `using Transformers` before loading. And yes it's better to do `cpu(model)` before saving.

[2022-08-06 16:04] Broever101 commented on #109
Weird. I have all the dependencies imported in the main module and I'm including the loading script in the module. Anyways, importing them in the REPL solved the issue -- probly a dumb mistake on my part.

Right now, I'm doing this:

[code]

I can do
[code]

I have no idea how to interpret the results (should I uhh take the absolute to know which one hot category is hot??) but is this the correct

[2022-08-06 16:51] chengchingwen commented on #109
Several points:
1. you don't need to use `load_bert_pretrain`, you can just use `BSON.@load`.
2. `BertTextEncoder` contains both `tokenizer` and `wordpiece`, so you don't need to store all of them.
3. you would need to do `Flux.onecold(prediction)` to turn the logits into the index of label.
4. but the meaning of label is missing here, so you might want to store them in your checkpoint file as wel

[2022-08-07 01:12] jackn11 commented on #99
That sounds great! I should have a PR up soon for the COLA example!

[2022-08-25 08:03] chengchingwen commented on #105
You seems to be using the old version, please update to the latest one. And it should be used like this:

[code]

[2022-08-25 08:43] Schahin-R opened #112 "Tokenizer not support yet | Example GPT2_TextGeneration"
Hello, tried to run the new GPT2_TextGeneration Example and getting an error:

ERROR: LoadError: tokenizer not support yet.
Stacktrace:
 [1] error(s::String)
   @ Base ./error.jl:33
 [2] load_hgf_pretrained(name::String)
   @ Transformers.HuggingFace ~/.julia/packages/Transformers/jtjKq/src/huggingface/HuggingFace.jl:58
 [3] top-level scope
   @ ~/Projects/Julia/Transformers/example/GPT2_TextGener

[2022-08-25 08:54] chengchingwen commented on #112
What version of Transformers.jl are you using?

[2022-08-25 08:58] Schahin-R commented on #112
Just checked the Version and updated some dependencies, but still not working.

(@v1.7) pkg> status Transformers
      Status `~/.julia/environments/v1.7/Project.toml`
  [21ca0261] Transformers v0.1.16

[2022-08-25 09:01] chengchingwen commented on #112
You seems to be using v0.1.16 and  would need v.0.1.21 to get that work. Try `pkg> add Transformers@v0.1.21` and see if anything is blocking the update.

[2022-08-25 09:05] Schahin-R commented on #112
Solved, thank you for the fast response!

[2022-08-25 09:06] #112 closed

[2022-08-25 09:24] Schahin-R opened #113 "Huggingface Models"
Hello,
we are new to the Transformers Lib and we want to get familiar with the Lib.
Therefore we would like to have a bit of a guidance on how to implement a Huggingface Model.
We are specially interested in integrating german language models like e.g [bert-base-german-cased](https://huggingface.co/bert-base-german-cased), [deepset/gbert-large](https://huggingface.co/deepset/gbert-large).

Any tip

[2022-08-25 14:33] chengchingwen commented on #113
I'm not sure what you mean by "custom Huggingface Model". Would need to expand on that.

If you just want to use that model, you can run `hgf"bert-base-german-cased"`

[2022-08-25 16:52] Schahin-R commented on #113
The "custom" was confusing, so i changed it.
We were able to run the german based bert models with hfg"some-german-bert-model".
Now we are trying to run  [dbmdz/german-gpt2](https://huggingface.co/dbmdz/german-gpt2)
but getting:

ERROR: KeyError: key :vocab not found
Stacktrace:
 [1] getindex(h::Dict{String, Any}, key::Symbol)
   @ Base ./dict.jl:481
 [2] load_tokenizer(::Val{:gpt2}, model_name::S

[2022-08-25 17:00] chengchingwen commented on #113
It should be. That's probably a bug.

[2022-08-25 23:48] Schahin-R commented on #113
I found out that the main branch of [dbmdz/german-gpt2](https://huggingface.co/dbmdz/german-gpt2) doesnt have a vocab.json.
An older version [dbmdz/german-gpt2-faust](https://huggingface.co/dbmdz/german-gpt2-faust) has the vocab.json file and is also working, so it is not a problem with this lib.

Thank you for the fast response!

[2022-08-29 12:45] MNLubov commented on #105
@chengchingwen, How could I load HuggingFace model from bin file stored locally?

[2022-08-29 14:02] chengchingwen commented on #105
It really depends on the scenario. Would need to expand on that (e.g. what do you have and what do you want to achieve).

[2022-09-15 13:10] chengchingwen commented on #113
It take longer than I thought, but with Transformers v0.1.22 it should be able to load tokenizer from `dbmdz/german-gpt2`.

[2022-09-15 13:10] #113 closed

[2022-10-22 01:21] mcabbott opened #116 "Name clash with `Base.stack`"
I went searching for uses of `stack` in packages and found this (on Julia nightly, i.e. 1.9-)
[code]
https://github.com/chengchingwen/Transformers.jl/blob/7a7a25a3e29977678943b71aba0891ea934dcd62/src/stacks/stack.jl#L40

One mildly piratical quick-fix would be to make this `Compat.stack(n::Int, modeltype::Type{T}, args...; kwargs...) where T = ...`, since such a method never makes sense elsewhere.

[2022-10-22 04:03] chengchingwen commented on #116
Actually, I don't think anyone is using that function... so we could probably just ignore that error. I would remove that function in the future.

[2022-11-27 16:41] #116 closed